.choose {
  padding: 100px 0px 80px;
  background-color: #181818;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 140px;
    &__top {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      .choose__title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
      }
      .choose__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        .choose__select {
          display: flex;
          flex-direction: column;
          gap: 10px;
          span {
            color: rgb(147, 150, 151);
            font-family: Inter;
            font-size: 14px;
            font-weight: 300;
            line-height: 110%;
            letter-spacing: 0px;
          }
          select {
            border: none;
            outline: none;
            color: rgb(147, 150, 151);
            font-family: Inter;
            font-size: 16px;
            padding: 0 20px;
            width: 392px;
            height: 52px;
            border: 1px solid rgb(147, 150, 151);
            border-radius: 8px;
            background: rgb(37, 44, 44);
          }
        }
      }
      .choose__cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .choose__card {
          padding: 24px 24px 35px;
          width: 100%;
          height: 237px;
          border: 1px solid rgb(147, 150, 151);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .choose__card__img {
            width: 100%;
            max-width: 416px;
            height: 237px;
            object-fit: contain;
          }
          .choose__card__right {
            display: flex;
            flex-direction: column;
            gap: 24px;
            &__top {
              display: flex;
              column-gap: 140px;
              .card__top__left {
                display: flex;
                flex-direction: column;
                row-gap: 34px;
                .choose__card__right__top__text {
                  display: flex;
                  flex-direction: column;
                  gap: 6px;
                  p {
                    color: rgb(255, 255, 255);
                    font-family: Inter;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 110%;
                    letter-spacing: 0px;
                    text-transform: uppercase;
                  }
                  a {
                    color: rgb(147, 150, 151);
                    font-family: Inter;
                    font-size: 16 px;
                    font-weight: 300;
                    line-height: 110%;
                    letter-spacing: 0px;
                  }
                }
                strike {
                  color: rgb(255, 255, 255);
                  font-family: Inter;
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 110%;
                  letter-spacing: 0px;
                  text-transform: uppercase;
                }
              }
              .card__top__right {
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                button {
                  width: 100%;
                  width: 320px;
                  height: 48px;
                  border: 1px solid rgb(255, 149, 73);
                  border-radius: 8px;
                  color: rgb(255, 255, 255);
                  font-family: Inter;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 110%;
                  letter-spacing: 0px;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                }
                .choose__card__top__btn {
                  border: none;
                  height: 52px;
                  background: rgb(255, 149, 73);
                  color: rgb(24, 24, 24);
                  font-family: Inter;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 110%;
                  letter-spacing: 0px;
                }
              }
            }
            &__bottom {
              display: flex;
              align-items: center;
              gap: 24px;
              .choose__img__text {
                display: flex;
                align-items: center;
                gap: 10px;
                img {
                  width: 24px;
                  height: 24px;
                }
                span {
                  color: rgb(255, 255, 255);
                  font-family: Inter;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 110%;
                  letter-spacing: 0px;
                }
              }
            }
          }
        }
      }
      .choose__btn__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          border: 1px solid rgb(147, 150, 151);
          border-radius: 8px;
          width: 100%;
          max-width: 155px;
          height: 48px;
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 110%;
          letter-spacing: 0px;
        }
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      gap: 40px;
      img {
        width: 100%;
        max-width: 636px;
        height: 320px;
        object-fit: contain;
      }
      &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        p {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 40px;
          font-weight: 700;
          line-height: 110%;
          letter-spacing: 0px;
          text-transform: uppercase;
        }
        button {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          max-width: 207px;
          height: 48px;
          border-radius: 8px;
          background: rgb(255, 149, 73);
          color: rgb(24, 24, 24);
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 110%;
          letter-spacing: 0px;
        }
      }
    }
  }
}
