.trade {
  padding: 91px 0px 80px;
  background: #1c2121;
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    &__top {
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;
      @media only screen and (min-width: 1000px) {
        flex-direction: row;
        justify-content: space-between;
      }
      .trade__top__left {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        &__top__text {
          display: flex;
          flex-direction: column;
          row-gap: 12px;
          a {
            color: rgb(255, 149, 73);
            font-family: Inter;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 0px;
            @media only screen and (min-width: 600px) {
              font-size: 20px;
            }
          }
          p {
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 110%;
            letter-spacing: 0px;
            text-transform: uppercase;
            @media only screen and (min-width: 600px) {
              font-size: 40px;
            }
          }
          span {
            width: 100%;
            max-width: 350px;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 24px;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 0px;
            text-transform: uppercase;
            @media only screen and (min-width: 600px) {
              font-size: 30px;
            }
          }
          .danger {
            padding: 7.5px 11.5px;
            width: 100%;
            height: 30px;
            border-radius: 10px;
            background: rgb(255, 43, 0);
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media only screen and (min-width: 600px) {
              max-width: 264px;
            }
            img {
              width: 18px;
              height: 18px;
            }
            a {
              color: rgb(255, 255, 255);
              font-family: Inter;
              font-size: 12px;
              font-weight: 500;
              line-height: 110%;
              letter-spacing: 0px;
            }
          }
        }
        .button__wrapper {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          button {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            height: 48px;
            border: 1px solid rgb(255, 149, 73);
            border-radius: 8px;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 13px;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 0px;
            @media only screen and (min-width: 600px) {
              max-width: 417px;
            }
          }
          .danger__btn {
            border: none;
            width: 100%;
            font-weight: 600;
            height: 52px;
            border-radius: 8px;
            background: rgb(255, 149, 73);
            color: rgb(24, 24, 24);
            @media only screen and (min-width: 600px) {
              max-width: 417px;
            }
          }
        }
      }
      .trade__top__right {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        @media only screen and (min-width: 1280px) {
          flex-direction: row;
        }
        img {
          width: 100%;
          max-width: 802px;
          object-fit: contain;
          @media only screen and (min-width: 1200px) {
            height: 378px;
          }
        }
        .trade__input__wrapper {
          display: flex;
          @media only screen and (min-width: 1280px) {
            flex-direction: column;
          }
          gap: 5px;
          .trade__right__select-1 {
            width: 30px;
            height: 30px;
            background: rgb(239, 41, 41);
            border-radius: 50%;
          }
          .trade__right__select-2 {
            width: 30px;
            height: 30px;
            background: rgb(223, 76, 48);
            border-radius: 50%;
          }
          .trade__right__select-3 {
            width: 30px;
            height: 30px;
            background: rgb(198, 201, 206);
            border-radius: 50%;
          }
          .trade__right__select-4 {
            width: 30px;
            height: 30px;
            background: rgb(55, 57, 62);
            border-radius: 50%;
          }
          .trade__right__select-5 {
            width: 30px;
            height: 30px;
            background: rgb(230, 231, 232);
            border-radius: 50%;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      .tarde__bottom__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        @media only screen and (min-width: 580px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (min-width: 1000px) {
          grid-template-columns: repeat(4, 1fr);
        }
        .tarde__card {
          padding: 11px 14px;
          width: 100%;
          height: 58px;
          border-radius: 10px;
          background: rgb(24, 24, 24);
          display: flex;
          align-items: center;
          gap: 10px;
          @media only screen and (min-width: 1000px) {
            max-width: 306px;
          }
          img {
            width: 30px;
            height: 30px;
          }
          p {
            width: 100%;
            max-width: 168px;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 0px;
          }
        }
      }
      .trade__images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        @media only screen and (min-width: 530px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (min-width: 800px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (min-width: 1000px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media only screen and (min-width: 1200px) {
          grid-template-columns: repeat(5, 1fr);
          align-items: center;
          justify-content: space-between;
        }
        img {
          width: 100%;
          // max-width: 240px;
          height: 200px;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}

.one__trade {
  background: #252c2c;
}
.trade__one__top {
  display: flex;
  flex-direction: column-reverse;
  @media only screen and (min-width: 1000px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
.trade__left {
  display: flex;
  flex-direction: row-reverse;
}
